.bodyContent {
    background: url(../img/brilho2.gif) #252062f5;
    background-size: 18%;
    width: 100%;
}

head {
    background: url(../img/brilho1.gif) #fbb03bbf;
    background-size: 18%;
    border-radius: 19px;
    border: 3px solid #12114aeb;
    width: 40%;
    height: 63px;
    margin-top: -21px;
    margin-left: 28%;
}

nav {
    background: url(../img/brilho1.gif) #252062f5;
    background-size: 11%;
    width: 70%;
    height: 72px;
    margin: 0 auto;
    border: 4px solid #fbb03b;
    border-radius: 15px;
}

.pageName {
    float: left;
    color: #fbb03b;
    padding-left: 47px;
    margin-top: 2px;
    font-size: 46px;
}

.nav-links {
    margin: 4px;
    padding: 2px 43px;
    text-align: center;
}

li {
    list-style-type: none;
}

.nav-links>li {
    float: right;
    background-color: #fbb03beb;
    border-radius: 10px;
    font-size: 30px;
    width: 205px;
    margin: 0px 13px;
}

.nav-links li:hover, .nav-links .active {
    background-color: #886ce4;
}

.nav-links a {
    display: inline-block;
    line-height: 53px;
    color: #252062;
    padding: 0 10px;
}

.inactive-link {
    background-color: #a5a9ab !important;
    border-color: #9ea7aa !important;
}

.navForm {
    height: 76px;
    margin: 5px 130px;
    padding: 13px 56px;
    text-align: center;
}

#infoCadastro {
    padding: 0px 10px;
    margin-left: 102px;
    margin-right: 100px;
    font-size: 20px;
    margin-top: -28px;
    color: #fbb03b;
    background-color: #2d2868;
    background-size: -58%
}

#vidente {
    width: 548px;
    border: 4px solid #fbb03b;
    background-size: 100%;
    margin-top: 2px;
    margin-left: 5px;
    border-radius: 15px;
}

#linkImagem {
    position: relative;
    display: block;
}

a span {
    display: none;
}

a:hover span {
    display: block;
    position: absolute;
}

a:hover span {
    display: block;
    position: absolute;
    top: 0px;
    left: 60%;
    margin-top: -30px;
}

#bolaCristal {
    position: absolute;
    width: 90px;
    height: 88px;
    margin: -201px 234px;
}

.signo1 {
    background: url(../img/brilho1.gif);
    background-size: 25%;
    margin-top: -5%;
    margin-left: -38%;
}

.signo2 {
    background: url(../img/brilho1.gif);
    background-size: 25%;
    margin-top: -5%;
    margin-left: 6%;
}

.tituloForm {
    background: url(../img/brilho1.gif);
    background-size: 10%;
}

label, .legenda {
    color: #fbb03b;
    padding-right: 40px;
    font-weight: bold;
}

.mx-auto {
    color: #dc3545;
    font-size: 45px;
}

h4 {
    color: #17a2b8;
}

hr {
    color: #fbb03b;
    background-color: #fbb03b;
    height: 5px;
}

.copyright {
    color: #886ce4;
    font-size: 13px;
    margin: -2% 26%;
}

p {
    color: #fbb03b;
    font-size: 20px;
}

.iconPage {
    float: left;
    width: 150px;
    margin-right: 15px;
}

.imgPage {
    float: left;
    width: 70px;
    margin-right: 15px;
}

.imgPaget1 {
    float: left;
    width: 48px;
    margin-right: 35px;
}

.imgPaget2 {
    float: left;
    width: 44px;
    margin-right: 39px;
    margin-top: -7px;
}

.imgPaget3 {
    float: left;
    width: 70px;
    margin-top: -6px;
    margin-right: 15px;
}

.imgPaget4 {
    float: left;
    width: 60px;
    margin-right: 24px;
    margin-top: -8px;
}

.imgPaget5 {
    float: left;
    width: 70px;
    margin-right: 15px;
    margin-top: 13px;
}

.bg-info {
    color: #252062;
    font-weight: bold;
}

.table-primary {
    color: #252062;
    font-weight: normal;
}

td {
    color: #fbb03b;
    font-weight: bold;
}

.form-check-input {
    margin-right: 15px;
}

.btn {
    width: 70px;
    height: 40px;
}